@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button:hover, button:hover, input:hover {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

.container-center {
  height: 100%;
  width: 100%;
}

/* Fonts */

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/static/Inter-Regular.ttf')
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/static/Rubik-Regular.ttf')
}

/* End of Fonts */

.button {
  display: flex;
  border-style: none;
  border-radius: 27px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.button p {
  color: #F2F2F2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  padding: 0 10px 0 10px;
}

.huge-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  padding: 0;
  margin: 0;
}

/* Colors */

.bright-yellow {
  background-color: #F6FF89 !important;
}

.purple {
  background-color: #C6BCFF !important;
}

.gray {
  background-color: #333333 !important;
}

.green {
  background-color: #B2D464 !important;
}

.cream {
  background-color: #FEE2C1 !important;
}

.teal {
  background-color: #92DCF3 !important;
}

.orange {
  background-color: #F26522 !important;
}

.dark-green {
  background-color: #219653 !important;
}
/* End of Colors */

/* Font Colors */

.black-text {
  color: black !important;
}

.teal-text {
  color: #43A6D3 !important;
}

/* End of Font Colors */

.portion {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  overflow: scroll;
  position: relative;
}

.unconstrained-portion {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}

h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

h3 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

h4 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  padding: 10px;
  margin: 0;
}

h5 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}

/* Smaller Screen */
@media only screen and (max-width: 600px) {
  .portion  {
    width: 100%;
  }
  .huge-title {
    font-size: 40px;
  }
}

@media only screen and (max-height: 1000px) {
  .portion {
    width: 100%;

    /* height: 1000px; */
  }
  .unconstrained-portion {
    /* height: 1200px; */
  }
}